*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
div {
    width: 1000px;
    height: 500px;
    background-color: aqua;
    margin: auto;
    margin-top:10%;
}

div h1{
    text-align: center;
    padding-top: 15%;
    font: 100px Arial;
}